
.tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 5px;
}

.header{
	border-bottom:1px solid #ebeff2;
	padding: 0rem .5rem .5rem .5rem;
	text-align:center;
	color:#5aadef;
	font-size:600;
	font-size:15px;	
	position:relative;
	margin-top: .5rem;
}

.detail{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:.5rem 0px;
	margin:10px 20px;
	font-size:14px;
	color:#5aadef;
	font-weight:600;	
	overflow:hidden;
}
.detail div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.detail strong,
.stats strong{
	display:block;
    font-size:11px;
	font-weight:700;
}
.detail span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}

.vessel-name{
    cursor: pointer;
	color:#5aadef;
	font-size: 13px !important;
    margin-bottom: 4px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 25%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(4){border:none;}

div.footer {
	text-align: right;
	position: relative;
	border-top: 1px solid lightgray;
    margin-bottom: 1.2rem;
    padding-top: 1.2rem;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #007bff;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #007bff;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}

.btn-primary {
    color: #fff;
    background-color: #2e93ff;
    border-color: #2e93ff;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 20px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
    content: "";
    height: 23px;
    width: 24px;
    left: 0px;
    bottom: -1px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }