<div class="row">
    <div class="col-lg-12">
        <div class="tile">
            <div class="wrapper">
                <ng-container  *ngIf="!selectedVessel; else selectedVesselTemplate" >
                </ng-container>
                <div class="stats" *ngFor="let v of vessels">
                    <div>
                        <strong class="vessel-name" (click)="showVessel(v)" >
                            {{v.name}}
                        </strong> 
                        <label class="switch">
                            <input type="checkbox" [checked]="v.display" (click)="checkStatus(v)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <strong>Latitude</strong> {{v.position?.lat}}
                    </div>
                    <div>
                        <strong>Longitude</strong> {{v.position?.lng}}
                    </div>
                    <div>
                        <a href="javascript:void(0)" (click)="edit(model)" class="fa fa-edit" style="margin: 0 2px"></a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" (click)="delete(model)" class="fa fa-trash" style="margin: 0 2px"></a>
                    </div>
                </div>
                <div class="footer">
                    <a href="#" class="Cbtn Cbtn-primary">Add new vessel</a>
                </div>
            </div>
        </div> 
    </div>
</div>

<ng-template #selectedVesselTemplate>
    <div class="header">{{selectedVessel.name}}</div>
        <div class="detail">
            <div class="lat">
                <strong>Latitude</strong> {{selectedVessel.position?.lat}}
                <span></span>
            </div>
            <div class="lon">
                <strong>Longitude</strong> {{selectedVessel.position?.lng}}
            </div>
        </div>
  </ng-template>
